<div class="new_user_form">

<%= form_for @user do |f| %>
	<p>
		
		<%= f.text_field :name, :placeholder => "Full Name" %>
	</p>

	<p>
		
		<%= f.text_field :email, :placeholder => "Email" %>
	</p>

	<p>
		
		<%= f.password_field :password, :placeholder => "Password" %>
	</p>

	<p>
		
		<%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
	</p>

	<p>
		
		<%= f.text_field :avatar, :placeholder => "Avatar (URL)" %>
	</p>

	<%= f.submit %>
		<% end %>

</div>