<%= form_for @tvshow do |f| %>
	<p>
		
		<%= f.text_field :title, :placeholder => "Title" %>
	</p>

	<p>
		
		<%= f.text_field :plot, :placeholder => "Plot" %>
	</p>

	<p>
		
		<%= f.text_field :network, :placeholder => "Network" %>
	</p>

	<p>
		
		<%= f.text_field :country, :placeholder => "Country" %>
	</p>

	<p>
		
		<%= f.text_field :poster, :placeholder => "Poster URL" %>
	</p>

	<p>
		
		<%= f.text_field :premiere_date, :placeholder => "Premiere Date" %>
	</p>
	
	<%= f.submit %>
		<% end %>